<!DOCTYPE html>
<html>
<%- include('navbar') %>

<head>
    <title>Registration</title>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
<!-- 
    <script type="text/javascript">
        $(document).ready(function(){
            $( "#form1" ).submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/register',
                    data: $('#form1').serialize(),
                    dataType: "json",
                    success: function(response){
                        $('#form1')[0].reset();
                        if (response.Success) {
                            document.getElementById("check").innerHTML = response.Success;
                            setTimeout(function(){
                                document.getElementById("check").innerHTML = "";
                            }, 3000);
                            document.getElementById("aa").click();
                        } else {
                            document.getElementById("check").innerHTML = "";
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        var errorMessage = JSON.parse(xhr.responseText).Error;
                        document.getElementById("check").innerHTML = errorMessage;
                    }
                });
            });
        });
    </script> -->


    <script type="text/javascript">
        $(document).ready(function() {
            $("#form1").submit(function(event) {
                event.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/register',
                    data: $(this).serialize(),
                    dataType: "json",
                    success: function(response) {
                        if (response.Success) {
                            // Display SweetAlert2 success message
                            Swal.fire({
                                title: 'Registration Successful!',
                                text: response.Success,
                                icon: 'success',
                                confirmButtonText: 'Login Now'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/login'; // Redirect to login page
                                }
                            });
                        } else {
                            // If you have specific error messages from the server
                            Swal.fire({
                                title: 'Error!',
                                text: 'Something went wrong with your registration.',
                                icon: 'error',
                                confirmButtonText: 'Try Again'
                            });
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                        var errorMessage = xhr.responseText ? JSON.parse(xhr.responseText).Error : "Unknown error occurred";
                        // Display SweetAlert2 error message
                        Swal.fire({
                            title: 'Registration Failed!',
                            text: errorMessage,
                            icon: 'error',
                            confirmButtonText: 'Try Again'
                        });
                    }
                });
            });
        });
    </script>
    


</head>
<body>
    <div class="col-md-4 col-md-offset-4">
        <div>
            <p>Register Now</p>
        </div>
        <div class="form-group">
            <form id="form1" method="post">
                <input type="email" name="email" placeholder="E-mail" required="" class="form-control"><br/>
                <input type="text" name="username" placeholder="Username" required="" class="form-control"><br/>
                <input type="password" name="password" placeholder="Password" required="" class="form-control"><br/>
                <input type="password" name="passwordConf" placeholder="Confirm Password" required="" class="form-control"><br/>
                <select name="role" class="form-control">
                    <option value="student">Student</option>
                    <option value="instructor">Instructor</option>
                    <option value="employer">Employer</option>
                </select><br/>
                <input type="submit" value="Register" class="btn btn-success">
            </form>
        </div>
        
        <div class="mssg bg-danger">
            <span id="check"></span>
        </div>
        <div>
            <span>Already Registered! <a href="/login">Login</a></span>
        </div>
        <div id="LangTable"><a href="/login" id="aa"></a></div>
    </div>
</body>
</html>
